* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:rgba(30,235,228);
  min-height: 100vh;
  display: flex;
  font-weight: 400;
}

body,
html,
.App,
.vue-tempalte,
.vertical-center {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.vertical-center {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}
.inner-block {
  width: 650px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.inner-info-1 {
  background:rgba(53, 54, 66, 0.2);
  /* height: 150px;
  width: 100%; */
  border-radius: 15px;
  padding: 10px 10px 0px 0px;
  min-width: 100%;
  min-height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.inner-info-2 {
  background:rgba(6, 78, 160, 0.2);
  padding: 10px 0px 10px 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}

.inner-info-3 {
  background:rgba(6, 78, 160, 0.2);
  padding: 10px 15px 10px 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  
}
.inner-info-4{
  padding: 10px 0px 0px 15px;
}

.inner-info-5{
  padding: 10px 0px 10px 0px;
}
.vertical-center .form-control:focus {
  border-color: #2554ff;
  box-shadow: none;
}

.vertical-center h3 {
  text-align: center;
  margin: 20px;
  line-height: 1;
  padding-bottom: 0px;
}

label {
  font-weight: 500;
}

.new-operation{
  width: 300px;
  margin: auto;
  background: rgba(6, 78, 160, 0.2);
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.432);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  position: fixed;
}

.button {
  background-color:rgba(53, 54, 66, 0.2);
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}